<div class='home text-center'>
  <h1 class="text-center">Welcome to the GENERIC COMPANY Side Project Manager</h1>
    <%= link_to "View Side Projects", projects_path, class: 'home-btn button' %>
</div>
